nav.nav-container
    ul.nav
        li.nav_item
            a(
                class="nav_item-link nav_item-link_dashboard",
                href="dashboard"
            )
                include ../icons/icon-dashboard
                <span class="nav_item-text">Dashboard</span>

        li.nav_item
            a(
                class="nav_item-link nav_item-link_product",
                href="product"
            )
                include ../icons/icon-product
                <span class="nav_item-text">Product</span>
                include ../icons/icon-chevron-right

        li.nav_item
            a(
                class="nav_item-link nav_item-link_customers active",
                href="customers"
            )
                include ../icons/icon-customers
                <span class="nav_item-text">Customers</span>
                include ../icons/icon-chevron-right

        li.nav_item
            a(
                class="nav_item-link nav_item-link_income",
                href="income"
            )
                include ../icons/icon-income
                <span class="nav_item-text">Income</span>
                include ../icons/icon-chevron-right

        li.nav_item
            a(
                class="nav_item-link nav_item-link_promote",
                href="promote"
            )
                include ../icons/icon-promote
                <span class="nav_item-text">Promote</span>
                include ../icons/icon-chevron-right

        li.nav_item
            a(
                class="nav_item-link nav_item-link_help",
                href="help"
            )
                include ../icons/icon-help
                <span class="nav_item-text">Help</span>
                include ../icons/icon-chevron-right