.pagination
    p.pagination_info Showing data 1 to 8 of  256K entries

    ul.pagination_list
        li.pagination_list-item
            a(
                class="pagination_list-link"
                href="#"
            )
                include ../icons/icon-arrow-left

        li.pagination_list-item
            a(
                class="pagination_list-link active"
                href="#"
            ) 1

        li.pagination_list-item
            a(
                class="pagination_list-link"
                href="#"
            ) 2

        li.pagination_list-item
            a(
                class="pagination_list-link"
                href="#"
            ) 3

        li.pagination_list-item
            a(
                class="pagination_list-link"
                href="#"
            ) 4

        li.pagination_list-item ...

        li.pagination_list-item
            a(
                class="pagination_list-link"
                href="#"
            ) 40

        li.pagination_list-item
            a(
                class="pagination_list-link"
                href="#"
            )
                include ../icons/icon-arrow-right

